{% extends "home/base.html" %}

{% block title %}
Hacker News
{% endblock %}

{% block content %}

{% if posts %}

<ol>

    {% for post in posts %}

    <li>

        <!-- Vote -->
        <a href="{% url 'vote_post' post.id %}" class="vote-arrow">
            ▲
        </a>

        <!-- Title -->
        {% if post.url %}

            <a href="{{ post.url }}" target="_blank" class="post-title">
                <strong>{{ post.title }}</strong>
            </a>

        {% else %}

            <a href="{% url 'post_detail' post.id %}">
                <strong>{{ post.title }}</strong>
            </a>

        {% endif %}

        <br>

        <p class="post-meta">

            {{ post.vote_count }} point{{ post.vote_count|pluralize }}

            |

            {{ post.user.username }}

            |

            {{ post.created_at }}

            |

            {{ post.post_type }}

            |

            <a href="{% url 'post_detail' post.id %}" class="comment-style">
                {{ post.comments.count }} comment{{ post.comments.count|pluralize }}
            </a>

        </p>

    </li>

    <br>

    {% empty %}

    <p>No posts available.</p>

    {% endfor %}

</ol>

{% else %}

<p>No posts have been submitted yet.</p>

{% endif %}

{% endblock %}