{% extends "home/base.html" %}
{% load static %}
{% load timeago %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/reply.css' %}">
{% endblock %}

{% block title %}
Reply
{% endblock %}

{% block content %}

<div class="comment">

    <p>

        <a href="{% url 'vote_comment' comment.id %}" class="vote-arrow">
            ▲
        </a>

        <span class="user-style">

            <a href="{% url 'profile' comment.user.username %}" class="user-style">
                {{ comment.user.username }}
            </a>

        </span>

        <span class="comment-style2">

            {{ comment.vote_count }} point{{ comment.vote_count|pluralize }}

            |

            {{ comment.created_at|timeago }}

        </span>

    </p>

    <p class="comment-content">
        {{ comment.content }}
    </p>

</div>

<hr>

<form method="POST">

    {% csrf_token %}

    {{ form.content }}

    <br><br>

    <button type="submit">
        Reply
    </button>

</form>

{% endblock %}