{% extends "home/base.html" %}
{% load static %}

{% block title %}
Submit
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/submit.css' %}">
{% endblock %}

{% block content %}

<form method="POST">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <table class="submit-table">

        <tr>
            <td class="label">title</td>
            <td>{{ form.title }}</td>
        </tr>

        <tr>
            <td class="label">url</td>
            <td>{{ form.url }}</td>
        </tr>

        <tr>
            <td class="label">text</td>
            <td>{{ form.text }}</td>
        </tr>

        <tr>
            <td class="label">type</td>
            <td>{{ form.post_type }}</td>
        </tr>

        <tr>
            <td></td>
            <td>
                <button type="submit">
                    submit
                </button>
            </td>
        </tr>

    </table>

</form>

<p class="submit-note">

    Leave url blank to submit a question for discussion.
    If there is no url, text (if any) will appear at the top of the thread.
    If there is a url, text is optional.

</p>

{% endblock %}