{% extends "home/base.html" %}
{% load timeago %}

{% block title %}
{{ profile_user.username }}'s Comments
{% endblock %}

{% block nav_extra %}
| <span class="nav-user-page">
    {{ profile_user.username }}'s comments
</span>
{% endblock %}

{% block content %}


{% if comments %}

    {% for comment in comments %}

        <div style="margin-bottom: 1rem;">

            <small>

                <a href="{% url 'post_detail' comment.post.id %}" class="parent-link">
                    parent
                </a>

                |

                <span class="comment-time">
                    {{ comment.created_at|timeago }}
                </span>

            </small>

            <p>
                {{ comment.content }}
            </p>

            <a href="{% url 'post_detail' comment.post.id %}" class="discussion-link">
                View discussion
            </a>

        </div>

        <hr>

    {% endfor %}

{% else %}

    <p>No comments yet.</p>

{% endif %}

{% endblock %}