body {
    margin: 0.6rem;
    background-color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.83rem;
}

.page {
    width: 85%;
    margin: 0 auto;
}

.header {
    background-color: #ff6600;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.2rem 0.4rem;
}

.logo {
    width: 1rem;
    height: 1rem;

    border: 0.06rem solid white;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    margin-right: 0.5rem;
}

.nav {
    flex: 1;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

.auth a {
    color: black;
    text-decoration: none;
}

.content {
    background: #f6f6ef;
    padding: 0.8rem;
}
.post-meta {
    font-size: 0.58rem;
    color: #828282;
}
.post-meta a{
    font-size: 0.58rem;
    color: #828282;
    text-decoration: none;

}
.vote-arrow {
    font-size: 0.625rem;
    text-decoration: none;
    color: #828282;
}
ol {
    color: #828282;
}
.post-title {
    color: #000000;
    font-weight: 300;
    text-decoration: none;
}
.comment-style {
    color:#828282;
    text-decoration: none;

}
.footer {
    border-top: 0.12rem solid #ff6600;
    margin-top: 2rem;
    padding: 2rem 0;

    text-align: center;
}

.footer-links {
    margin-bottom: 1.5rem;
}

.footer-links a {
    color:#828282;
    text-decoration: none;
    font-size: 0.625rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-search {
    font-size: 0.8rem;
    color: #828282;
}

.footer-search input {
    width: 14rem;
    padding: 0.11rem;
    font-size: 0.9rem;
}
.link-style1 {
    text-decoration: none;
    color: black;
}
.comment-style2 {
    color: #828282;
    font-size: 0.625rem; 
}
.user-style {
    color: #828282;
}
.reply_style {
    color: #000000;
    font-size: 0.625rem;

}
.strong {
    color: #000000;
    font-size: 0.9rem;

}
.user-style,
.user-style a {
    font-size: 0.625rem;
    text-decoration: none;
}
.post-text {
    color: #828282;
}

